body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  padding: 0 20px;
  width: 1160px;
  margin: 0 auto;

}

.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-header-logo {
  margin-right: 200px;
}

.main-navigation {
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  text-decoration: none;
}

.inner-page .page-title {}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

.site-navigation-current {
  position: relative;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-current a:not([href]) {
  background-color: #eeeeee;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -9px;
  left: 1px;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation li {
  margin-right: 48px;
}

.site-navigation-link {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.cart  {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  text-transform: uppercase;
  text-decoration: none;
}

.main-navigation .cart {
  padding-left: 50px;
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 3px;
  left: 15px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 78px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 18px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#product-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#product-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#product-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#product-1:checked ~ .slider-controls .slider-controls-item--1::before,
#product-2:checked ~ .slider-controls .slider-controls-item--2::before,
#product-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  color: #283136;
  max-width: 430px;
  margin: 0;
  margin-bottom: 38px;
}

.button {
  display: block;
  width: 240px;
  padding: 13px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

 .page-title {
  font-weight: 500;
  font-size: 55px;
  text-align: center;
  padding-bottom: 116px;
  padding-top: 40px;
}

.services {
  margin-top: 80px;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-list li {
  margin-right: 100px;
}

.services-item {
  width: 300px;
}

.services-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
}

.services-item p {
  color: #283136;
  font-size: 16px;
  font-weight: normal;
}

.services-item-tagline {
  color: #283136;
}

.button-services {
  display: inline-block;
  margin-right: 240px;
  padding: 19px 39px 18px 39px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.red {
  background-color: #fb565a;
}

.red:hover,
.red:focus {
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.green {
   background-color: #00ca74;
}

.green:hover,
.green:focus {
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.yellow {
  background-color: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}

.yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: none;
  margin-bottom: 62px;
}

.grid-item {
  margin-top: 15px;
}

.features-item {
  margin-top: 17px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;

  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;

  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.setting-filter {
  margin-right: 140px;
}

.setting-filter {
  justify-content: space-between;
}

.catalog {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;
}

.sorting {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-bottom: 59px;
  list-style: none;
  flex-wrap: wrap;
}

.sorting-variations {
  display: flex;
  padding: 0;
  margin: 0;
}

.sorting-list {
  display: flex;
  padding: 0;
  margin: 0;
}

.sorting-title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  position: relative;
  margin-right: 267px;
  font-size: 18px;
  font-weight: 700;
}

.sorting-list li {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-right: 27px;
  font-size: 14px;
  list-style: none;
  text-decoration: none;
}

.sorting-list a {
  padding: 0;
  margin: 0;
  color: #000000;
  opacity: 0.3;
  text-decoration: none;
}

.sorting-list-current {
  color: #000000;
}

.sorting-arrows {
  padding: 0;
  margin: 0;
  margin-left: 22px;
  opacity: 0.2;
}

.down-arrow {
  margin-right: 18px;
}

.sorting-arrows svg:hover {
  color: #a6a6a6;
}

.sorting-arrows svg:active {
  color: #000000;
}

.catalog-columns {
  display: flex;
}

.catalog-item-preview {
  position: relative;
  margin-right: 40px;
}

.catalog-item-info {
  position: absolute;
  background-color: #eeeeee;
  width: 350px;
  height: 231px;
  padding: 5px;
  display: none;
  top: 345px;
}

.grid-item,
.features-item {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  padding-left: 36px;
}

.features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: #283136;
}


.grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: #283136;
}


.grid-group:hover,
.grid-group:focus {
  color: #283136;
}

.grid-group:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 19px 88px 18px 89px;
  border: none;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-preview:nth-child(2n) {
  margin-right: 0;
}

.catalog-item-preview {
  margin-right: 40px;
  margin-bottom: 33px;
}

.catalog-item-specification {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.button-purchase {
  display: block;
  width: 200px;
  padding: 19px 0px;
  margin-left: 75px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
}

.button-purchase:hover,
.button-purchase:focus {
  background-color: #e74246;
}

.button-purchase:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.main-footer {
  background-color: #ffffff;
  margin-top: 69px;
}

.footer-container {
  display: flex;
}

.social-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-navigation a:hover,
.social-navigation a:focus {
  background-color: #e74246;
}

.social-navigation a:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}



.social-navigation a {
  display: block;
  position: relative;
  margin-right: 12px;
  list-style: none;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-top: 0px;
}

.social-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

svg:active {
  opacity: 0.3;
}

.special-offer {
  margin-left: 127px;
}

.special-offer b {
  font-size: 36px;
  text-align: left;
  font-weight: bold;
}

.special-offer p {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
}

.write-to-us {
  margin: 0;
}

.write-to-us h2 {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: #000000;
}

.write-to-us-form {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  border: solid 2px #d7dcde;
  color: #000000;
  background-color: #ffffff;
}

.name, .e-mail, .writing {
  color: rgba(68, 68, 68, 0.5);
}

.write-to-us-item input:hover {
   border: solid 2px #b4b9bb;
}

.write-to-us-item input:focus {
   border: solid 2px #000000;
}

.write-to-us-item input:active {
   border: solid 2px #e74246;
}

.name:hover,
.e-mail:hover,
.writing:hover {
  color: rgba(68, 68, 68, 0.5);
}

.name:focus,
.e-mail:focus,
.writing:focus {
  color: #444444;
}

.name:active,
.e-mail:active,
.writing:active {
  color: #e74246;
}
