body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000000;

  background-color: #ffffff;
}


a {
  text-decoration: none;
}

.main-navigation {
  font-size: 16px;
  line-height: 30px;
  color: #000000;
  text-transform: uppercase;
  background-color: #eeeeee;
  align-items: flex-start;
  flex-direction: row;
  padding-left: 140px;
  padding-right: 140px;
}

.main-header {
  margin-bottom: 80px;
}

.main-header-logo {
  width: 160px;
  height: 65px;
}

.main-header-logo a:hover,
.main-header-logo a:focus {
  opacity: 0.8;

}
.main-header-logo a:active {
  opacity: 0.3;
}

.site-navigation {
  width: 450;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: space-between;
}

.cart {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  margin-bottom: 80px;
}

.main-navigation a {
  color: #000000;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-title h1 {
  font-size: 55px;
  text-align: center;
}

.container {
  width: 1100px;
  margin: 0 auto;
  padding: 0 10px;
}

.services-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services {
  margin-bottom: 80px;
}

.services-item {
  text-align: left;
  width: 300px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.services-item h3 {
  font-size: 23px;
  line-height: 135px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

.services-item-tagline {
  color: #283136;
}

.button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
}

.red {
  background-color: #fb565a;
}

.red:hover,
.red:focus {
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.green {
   background-color: #00ca74;
}

.green:hover,
.green:focus {
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.yellow {
  background-color: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}

.yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
}

.setting-filter {
  width: 261px;
  justify-content: space-between;
}

.catalog {
  width: 760px;
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  flex-wrap: wrap;

}

.catalog-columns {
  display: flex;
  margin-top: 116px;
}

.grid-item,
.features-item {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
}

.grid-group:hover,
.grid-group:focus {
  color: #283136;
}

.grid-group:disabled {
  color: rgba(40, 49, 54, 0.3);
}

.filter-button {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--very-light-pink);
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-preview {

  margin-right: 40px;
  width: 360px;
  margin-bottom: 33px;
}

.catalog-item-preview:nth-child(2n) {
  margin-right: 0;
}


.catalog-item-specification {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
}

.purchase {
  background-color: #fb565a;
}

.purchase:hover,
.purchase:focus {
  background-color: #e74246;
}

.purchase:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.main-footer {
  background-color: #eeeeee;
}

.footer-container {
  display: flex;
}

.footer-social {
  margin-left: 139px;
  width: 260px;
  margin: 0;
}

.footer-social ul {
  list-style: none;
}

.social-button {
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-button a:active {
  opacity: 0.3;
}

.special-offer {
  margin: 0;
  text-align: center;
  padding: 10px 0px;
  margin-top: 78px;
}

.special-offer b {
  font-size: 36px;
  text-align: left;
  font-weight: bold;
}

.special-offer p {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
}

.write-to-us {
  margin: 0;
}

.write-to-us h2 {
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: #000000;
}

.write-to-us-form {
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  border: solid 2px #d7dcde;
  color: #000000;
  background-color: #ffffff;
}

.name, .e-mail, .writing {
  color: rgba(68, 68, 68, 0.5);
}

.write-to-us-item input:hover {
   border: solid 2px #b4b9bb;
}

.write-to-us-item input:focus {
   border: solid 2px #000000;
}

.write-to-us-item input:active {
   border: solid 2px #e74246;
}

.name:hover,
.e-mail:hover,
.writing:hover {
  color: rgba(68, 68, 68, 0.5);
}

.name:focus,
.e-mail:focus,
.writing:focus {
  color: #444444;
}

.name:active,
.e-mail:active,
.writing:active {
  color: #e74246;
}
