body {
  margin: 0;
  padding: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  color: #000000;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1161px;
  margin: 0 auto;
}

.main-header {
  background-color: #eeeeee;
  padding-top: 49px;
}

.main-header-logo {
  margin-right: 202px;
}

.main-navigation {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
}

.main-header-logo:hover,
.main-header-logo:focus {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  padding-top: 10px;
}

.site-navigation-current {
  position: relative;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.site-navigation-current a:not([href]) {
  background-color: #eeeeee;
}

.site-navigation-current::after {
  content: "";
  position: absolute;
  right: 1px;
  bottom: -9px;
  left: 1px;
  height: 2px;
  background-color: #fb565a;
}

.site-navigation li {
  margin-right: 46px;
}

.site-navigation li:nth-child(2n) {
  margin-right: 48px;
}

.site-navigation li:nth-child(3n) {
  margin-right: 45px;
}

.site-navigation-link {
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  text-decoration: none;
}

.cart  {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: auto;
  text-transform: uppercase;
  text-decoration: none;
  padding-top: 10px;
}

.main-navigation .cart {
  padding-left: 50px;
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 15px;
  left: 9px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.main-navigation a:hover,
.main-navigation a:focus {
  color: #fb565a;
}

.main-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.slider-container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.main-header {
  background-color: #eeeeee;
}

.slider {
  position: relative;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 105px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-controls label {
  position: relative;
  display: inline-block;
  width: 18px;
  height: 18px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.slider-container input[type=radio] {
  display: none;
}

.slider-controls label::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slider-item {
  display: none;
  padding: 70px 0 80px 0;
}

.slider-item:nth-child(1) {
  background-image: url("../img/slide-picture-1.png");
  background-repeat: no-repeat;
  background-position: 93% 10px;
}

.slider-item:nth-child(2) {
  background-image: url("../img/slide-picture-2.png");
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.slider-item:nth-child(3) {
  background-image: url("../img/slide-picture-3.png");
  background-repeat: no-repeat;
  background-position: 100% 20px;
}

#circle-1:checked ~ .slider-list .slider-item:nth-child(1) {
  display: block;
}

#circle-2:checked ~ .slider-list .slider-item:nth-child(2) {
  display: block;
}

#circle-3:checked ~ .slider-list .slider-item:nth-child(3) {
  display: block;
}

#circle-1:checked ~ .slider-controls .slider-controls-item--1::before,
#circle-2:checked ~ .slider-controls .slider-controls-item--2::before,
#circle-3:checked ~ .slider-controls .slider-controls-item--3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider-item h3 {
  max-width: 600px;
  margin: 0;
  margin-bottom: 27px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.slider-item p {
  color: #283136;
  max-width: 430px;
  margin: 0;
  margin-bottom: 39px;
}

.slider-item-button {
  display: block;
  width: 240px;
  padding: 16px 0;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
}

.slider-item-button:hover,
.slider-item-button:focus {
  background-color: #e74246;
}

.slider-item-button:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 3px rgba(0, 0, 0, 0.1) inset;
}

.page-title {
  font-weight: 500;
  font-size: 55px;
  text-align: center;
  padding-bottom: 116px;
  padding-top: 40px;
  margin: 0;
}

.services {
  margin-top: 79px;
  border-bottom: 2px solid #eeeeee;
}

.services-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 80px;
}

.services-list li {
  margin-right: 100px;
}

.services-item {
  width: 300px;
}

.services-item h3 {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 30px;
  margin-top: 18px;
  margin-bottom: 0;
}

.services-item p {
  color: #283136;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 33px;
}

.services-item p:first-child {
  margin-top: 23px;
  margin-left: 2px;
}

.services-item p:nth-child(2n) {
  margin-top: 24px;
}

.services-item p:last-child {
  margin-top: 18px;
  margin-left: 1px;
}

.button-services {
  display: inline-block;
  margin-right: 240px;
  padding: 15px 40px 15px 39px;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 3px;
  border: none;
}

.red {
  background-color: #fb565a;
}

.red:hover,
.red:focus {
  background-color: #e74246;
}

.red:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.green {
   background-color: #00ca74;
}

.green:hover,
.green:focus {
  background-color: #00bc6c;
}

.green:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.yellow {
  background-color: #efc84a;
}

.yellow:hover,
.yellow:focus {
  background-color: #eab534;
}

.yellow:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

.main-description {
  display: flex;
  border-bottom: 2px solid #eeeeee;
}

.description-text {
  margin-top: 75px;
  min-width: 650px;
  margin-right: 149px;
  margin-bottom: 72px;
}

.description-text-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.description-text-tagline {
  margin: 0;
  margin-top: 33px;
  margin-bottom: 39px;
}

.description-order-list {
  padding-inline-start: 0px;
  margin-bottom: 0;
}

.description-order-list-item {
  position: relative;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  list-style: none;
  margin-top: 24px;
  padding-inline-start: 35px;
  margin-left: 2px;
}

.description-order-list-item:last-child {
  margin-bottom: 0;
}

.description-order-list-item::before {
  content: "";
  top: 10px;
  left: 0px;
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.description-order-list-title {
  text-transform: uppercase;
  font-size: 16px;
  text-align: left;
  line-height: 24px;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.description-statistics {
  margin-top: 40px;
  min-width: 360px;
}

.description-statistics-tagline {
  margin-top: 29px;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 51px;
}

.percentage {
  font-size: 45px;
  font-weight: 600;
  line-height: 10px;
  padding: 0 19px 35px 0;
}

.percentage-description {
  line-height: 18px;
  padding-inline-start: 0;
}

.percentage-description:nth-child(3n) {
  margin-right: 2px;
}

sup {
  font-size: 25px;
  line-height: 0;
  font-weight: 500;
}

.partners-list {
  margin: 0;
  display: flex;
  list-style: none;
  border-bottom: 2px solid #eeeeee;
  padding-inline-start: 31px;
}

.partners-item a {
  opacity: 0.2;
}

.partners-item {
  position: relative;
  padding: 0;
  margin: 0;
  margin-bottom: 37px;
}

.partners-item:after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  top: 2px;
  left: 250px;
  opacity: 1;
}

.partners-item:nth-child(4n):after {
  display: none;
}

.partners-item a:hover {
  opacity: 1;
}

.partners-item a:active {
  opacity: 0.1;
}

.partners-item:nth-child(2n):after {
  content: "";
  width: 1px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  top: 17px;
  left: 254px;
}

.partners-item:nth-child(3n):after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  top: 1px;
  left: 242px;
}

.partners-item:first-child {
  margin-top: 62px;
  margin-right: 87px;
}

.partners-item:nth-child(2n) {
  margin-top: 46px;
  margin-right: 103px;
  margin-left: 9px;
}

.partners-item:nth-child(3n) {
  margin-top: 65px;
  margin-right: 112px;
}
.partners-item:nth-child(4n) {
  margin-top: 52px;
  margin-right: 43px;
}

.grid-filter {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 62px;
}

.features-filter {
  padding: 0;
  margin: 0;
  border: none;
  margin-top: 51px;
  margin-bottom: 48px;
}

.filter-legend {
  margin-bottom: 30px;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style: none;
  line-height: 20px;
}

.grid-item {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  list-style: none;
  margin-top: 15px;
}

.grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.features-item input[type=checkbox] {
  display: none;
}

.grid-item input[type=radio] {
  display: none;
}

.filter-input-radio + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: -35px;
  position: absolute;
  background-image: url("../img/radio-off.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:checked + label::after {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: -35px;
  position: absolute;
  background-image: url("../img/radio-on.svg");
  background-position: 0 0;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.filter-input-radio:hover + label::before,
.filter-input-radio:hover:checked + label::after,
.filter-input-checkbox:hover + label::before,
.filter-input-checkbox:hover:checked + label::after {
  opacity: 1;
}

.filter-input-radio:checked + label::before,
.filter-input-checkbox:checked + label::before {
  display: none;
}

.filter-input:disabled + label {
  opacity: 0.1;
}

.features-item {
  list-style: none;
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  margin-top: 17px;
}

.features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: -35px;
  position: absolute;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  width: 25px;
  height: 25px;
  top: -5px;
  left: -35px;
  position: absolute;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.4;
}

.filter-input-radio:disabled + label,
.filter-input-checkbox:disabled + label {
  color: rgba(40, 49, 54, 0.3);
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 56px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  font-weight: 700;
  padding-top: 63px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  display: inline-block;
  width: 50%;

  font-size: 16px;
  text-transform: uppercase;
}

.price-controls input {
  width: 60px;
  padding: 8px 10px;
  margin-left: 10px;
  font-family: Roboto, Arial, sans-serif;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.max-price {
  text-align: right;
}

.setting-filter {
  margin-right: 140px;
  justify-content: space-between;
  max-width: 260px;
}

.catalog-columns {
  display: flex;
}

.catalog {
  display: flex;
  flex-wrap: wrap;
  min-width: 760px;
}

.sorting {
  display: flex;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  margin-top: 60px;
  margin-bottom: 59px;
  min-width: 760px;
}

.sorting-list {
  align-items: center;
  margin: 0;
  padding: 0;
  display: flex;
  padding-inline-start: 0;
}

.sorting-list li {
  padding: 0;
  margin: 0;
  margin-left: 27px;
  list-style: none;
  font-size: 14px;
  text-align: left;
  line-height: 18px;
}

.sorting-list-item a {
  text-decoration: none;
  opacity: 0.3;
}

.catalog-arrows-buttons {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.catalog-arrow-down {
  width: 0;
  height: 0;
  padding: 0;
  margin-right: 16px;
  border-style: solid;
  border-width: 10px 5.5px 0;
  border-color:  #000000 transparent transparent;
  background-color: transparent;
}

.catalog-arrow-up {
  margin: 0;
  border-width: 0 5.5px 10px;
  border-color: transparent transparent #a6a6a6;;
  width: 0;
  height: 0;
  padding: 0;
  border-style: solid;
  background-color: transparent;
}

.sorting-list-title {
  margin: 0;
  margin-right: 240px;
  font-weight: 600;
  font-size: 18px;
}

.catalog-arrow-down {
  margin-left: 48px;
}

.catalog-item-name a {
  text-decoration: none;
}

.catalog-item-name a:hover {
  color: #fb565a;
}

.catalog-item-name a:active {
  opacity: 0.3;
}

.catalog-item-preview::before {
  content: "";
  width: 360px;
  height: 40px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background-image: url("../img/browser.svg");
  opacity: 0.12;
  display: block;
}

.catalog-item-preview:hover::before {
  opacity: 1;
}

.catalog-item-preview {
  padding: 0;
  margin: 0;
  position: relative;
  min-width: 360px;
  margin-bottom: 33px;
}

.catalog-item-preview:nth-child(1n) {
  margin-right: 0px;
}

.catalog-item-preview:nth-child(2n) {
  margin-right: 40px;
}

.catalog-item-preview img {
  display: block;
}

.catalog-item-specification {
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #666666;
}

.catalog-item-name {
  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-align: center;
  color: #000000;
  text-transform: uppercase;
  margin-top: 0;
}

.grid-item,
.features-item {
  font-size: 16px;
  line-height: 20px;
  color: #283136;
  padding-left: 36px;
}

.features-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: #283136;
}

.grid-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  color: #283136;
}

.grid-group:hover,
.grid-group:focus {
  color: #283136;
}

.filter-button {
  display: inline-block;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  background-color: #eeeeee;
  padding: 19px 88px 18px 89px;
  border: none;
  border-radius: 3px;
}

.filter-button:hover,
.filter-button:focus {
  background-color: #dfdfdf;
}

.filter-button:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
}

.catalog-item-info {
  position: absolute;
  background-color: #eeeeee;
  width: 100%;
  box-sizing: border-box;
  display: none;
  bottom: 0;
  padding-top: 35px;
  padding-bottom: 43px;
  padding-right: 60px;
  padding-left: 60px;
}

.catalog-item-preview:hover .catalog-item-info {
  display: block;
}

.button-purchase {
  display: block;
  width: 200px;
  padding: 19px 0px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #fb565a;
  border-radius: 3px;
  border: none;
  margin-top: 34px;
}

.button-purchase:hover,
.button-purchase:focus {
  background-color: #e74246;
}

.button-purchase:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d7373b;
}

.pages {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-top: 60px;
}

.page-link {
  border: 3px solid transparent;
  background-color: #eeeeee;
  box-sizing: border-box;
  display: block;
  height: 50px;
  text-decoration: none;
  color: #2e2e2e;
  font-size: 16px;
  line-height: 45px;
  padding: 0px 21px;
  border-radius: 3%;
  margin-right: 11px;
}

.page-link:hover {
  background-color: #dfdfdf;
}

.page-link:active {
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
  background-color: #d5d5d5;
}

.page-link:last-child {
  margin-right: 0;
}

.page-current {
  background-color: #ffffff;
  box-sizing: border-box;
  border-color: #dbdbdb;
}

.main-footer {
  background-color: #ffffff;
  margin-top: 69px;
}

.footer-container {
  display: flex;
}

.social-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 69px;
}

.social-navigation a:hover,
.social-navigation a:focus {
  background-color: #e74246;
}

.social-navigation a:active {
  background-color: #d7373b;
  box-shadow: inset 0px 3px 0 0 rgba(0, 1, 1, 0.1);
}

.social-navigation a {
  display: block;
  position: relative;
  margin-right: 12px;
  list-style: none;
  width: 79px;
  height: 79px;
  background-color: #e1e1e1;
  border-radius: 50%;
  text-align: center;
  position: relative;
  margin-top: 0px;
}

.social-button svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

svg:active {
  opacity: 0.3;
}

.special-offer b,
.special-offer p {
  display: block;
  margin-left: 127px;
}

.special-offer b {
  font-size: 36px;
  text-align: left;
  font-weight: bold;
  line-height: 36px;
}

.special-offer p {
  font-size: 16px;
  font-weight: normal;
  color: #444444;
  line-height: 22px;
  margin-top: 12px;
}

.write-to-us {
  display: block;
  padding-top: 70px;
  padding-bottom: 85px;
  padding-left: 100px;
  padding-right: 100px;
}

@keyframes bounce {
  20% {
    transform:translateY(-10%);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -200px;
  width: 960px;
  background-color: #ffffff;
  box-shadow: 0px 20px 40px 0;
  padding: 73px 100px 84px 101px;
  box-sizing: border-box;
  border-radius: 3px;

  display: none;
}

.modal-show {
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

.modal-close {
  position: absolute;
  top: 85px;
  right: 105px;
  font-size: 0;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  background-image: url("../img/close-cross.svg");
}

.modal-close:hover,
.modal-close:hover {
  opacity: 1;
}

.modal-close:active,
.modal-close:active {
  opacity: 0.1;
}

.write-to-us h2 {
  position: relative;
  font-size: 45px;
  line-height: 45px;
  text-align: left;
  color: #000000;
  font-weight: 500;
  margin-top: 0px;
}

.write-to-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  font-size: 16px;
  line-height: 18px;
  text-align: left;
  font-weight: bold;
  color: #000000;
  background-color: #ffffff;
  margin-top: 30px;
}

.write-to-us-item label {
  display: block;
  width: 360px;
}

.write-to-us-item input {
  display: inline-block;
  font-size: 16px;
  box-sizing: border-box;
  line-height: 18px;
  color: rgba(68, 68, 68, 0.5);
  padding: 15px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  width: 360px;
  outline: none;
  opacity: 0.5;
}

.write-to-us-text-area {
  display: inline-block;
  width: 760px;
  margin: 0;
  margin-bottom: 47px;
}

.modal-text {
  position: relative;
  margin-top: 20px;
}

.write-to-us-writing {
  font-family: "Roboto", Arial, sans-serif;
  width: 760px;
  display: inline-block;
  box-sizing: border-box;
  line-height: 18px;
  color: #a1a1a1;
  padding: 15px;
  font-size: 16px;
  margin-top: 10px;
  border: 2px solid #d7dcde;
  border-radius: 3px;
  outline: none;
  opacity: 0.5;
  resize: none;
}

.button-submit {
  bottom: 0px;
  background-color: #fb565a;
  width: 260px;
  border: 0;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  border-radius: 3px;
}

.button-submit:hover {
  background-color: #e74246;
}

.button-submit:active {
  background-color: #d7373b;
  color: rgba(255, 255, 255, 0.3);
}

.name, .e-mail, .writing {
  color: rgba(68, 68, 68, 0.5);
}

.write-to-us-item input:hover,
.write-to-us-text-area textarea:hover {
   border: solid 2px #b4b9bb;
}

.write-to-us-item input:focus,
.write-to-us-text-area textarea:focus {
   border: solid 2px #000000;
}

.write-to-us-item input:active,
.write-to-us-text-area textarea:active {
   border: solid 2px #e74246;
}

.name:hover,
.e-mail:hover,
.writing:hover {
  color: rgba(68, 68, 68, 0.5);
}

.name:focus,
.e-mail:focus,
.writing:focus {
  color: #444444;
}

.name:active,
.e-mail:active,
.writing:active {
  color: #e74246;
}

.map {
  width: 100%;
  margin-top: 80px;
  background-image: url("../img/map.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 416px;
  position: relative;
}

.map iframe {
  position: relative;
  width: 100%;
  border: none;
}

.contacts {
  position: absolute;
  box-sizing: border-box;
  display: block;
  background-color: #ffffff;
  max-width: 319px;
  padding-left: 51px;
  padding-top: 54px;
  padding-bottom: 47px;
  padding-right: 50px;
  top: 50%;
  transform: translate(0, -50%);
}

.button-write-to-us {
  text-decoration: none;
  background-color: #fb565a;
  width: 219px;
  border: 0;
  display: block;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
  border-radius: 3px;
  margin-top: 37px;
}

.adress {
  margin: 0;
}

.phone {
  margin: 0;
}

.contacts-title {
  padding: 0;
  margin: 0;
}

.modal-overlay {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.modal-overlay-shadow {
  display: block;
}
